.thumbnail:hover {
  box-shadow: 0 0 5px #08c;
  cursor: pointer;
  opacity: 0.8;
  transition: 1s;
}

.c-network {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.network {
  display: inline-block;
  margin: 0.8rem 0.5rem 0.8rem;
  text-align: center;
  vertical-align: top;
}


/*SOCİAL İCONS*/

.network:hover{
  box-shadow: 5px blue;
  opacity: 0.75;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}